.btn{
  background-color: #0384c6;
  color: white;
  padding: 15px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 50px;
  
  

}
.btn  :hover{
  background-color:white;
  color: #0384c6;
}

.head{
  color: white;
  padding: 20px;

}
.App{
  background-color: #2a4558;
    text-align: center;
    min-height: 100vh;
    align-items: center;
}

.table{
  background-color: white;
  margin: 10px;

}
.table thead{
  background-color: #0384c6;
  color: white;
}
.tablebtn{
  border-radius : 30px;
  margin: 10px;
  border: 0px;
  padding: 5px 10px;
  font-weight: 500;
}
.viewbtn{
  background-color: #f472b6;
 
}

.downbtn{
  background-color: #38bdf8;
  

}